* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
nav {
  width: 100vw;
  height: 80px;
  background-color: green;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}
.left {
  img {
    border-radius: 50%;
  }
}

.mid {
  display: flex;
}
.link-list {
  display: flex;
  gap: 150px;
}
.link-list li {
  list-style: none;
}
.link-list li a {
  color: white;
  text-decoration: none;
}
.login-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}
